@import "@penpot/plugin-styles/styles.css";

:root {
  --form-border-radius: 4px;
  --form-padding: 4px 24px 4px 4px;
  --select-text-color: var(--foreground-primary);
  --select-background-color: var(--background-secondary);
  --select-border-color: var(--foreground-primary);
  --select-border-radius: var(--form-border-radius);
  --select-padding: var(--form-padding);
  --select-focus-border-color: var(--accent-primary);
  --spacing-8: 8px;
  --spacing-12: 12px;
}

body {     
  font-family: Inter, system-ui, sans-serif;
  font-size: 11px;
  line-height: (16px / 11px);
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

a {
  text-decoration: none;
  color: var(--accent-primary);
}

a:hover {
  text-decoration: underline;
  color: var(--accent-secondary);
}

input[type="range"] {
  width: 100%;
  height: 7px;
  background-color: var(--background-secondary);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--accent-primary);
  border-radius: 50%;
  cursor: pointer;
}

input[type="text"],
input[type="datetime-local"],
input[type="color"] {
  width: 100%;
  border: 1px solid var(--foreground-primary);
  border-radius: 4px;
  padding: 4px;
  background-color: var(--background-secondary);
  color: var(--foreground-primary);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 5px;
}

select {
  padding: var(--select-padding);
  border-radius: var(--select-border-radius);
  background-color: var(--select-background-color);
  border: 1px solid var(--select-border-color);
  width: 100%;
  color: var(--select-text-color);
  appearance: none;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.620 10.3254L4.620 6.82541L5.379 6.17462L7.999 9.23172L10.620 6.17462L11.376 6.82541L8.379 10.3254C8.284 10.436 8.145 10.5 7.999 10.5C7.854 10.5 7.715 10.436 7.620 10.325Z" fill="var(--foreground-primary)"/></svg>');
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px;
  margin-bottom: 4px;
}

select:hover {
  background-color: var(--background-tertiary);
  border-color: var(--accent-secondary);
}

.image-uploader__drop-zone {
  border: 1px dashed var(--foreground-primary);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s;
  aspect-ratio: 4 / 3;
  display: grid;
  place-items: center;
}

.image-uploader__drop-zone.highlight {
  background-color: var(--background-secondary);
  border-color: var(--accent-primary);
}

.options-cell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}

.options-cell-inputs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tracer-input {
  width: 100%;
}

.generation-options {
  display: flex;
  gap: var(--spacing-8);
}

.preview-container {
  margin-block-start: var(--spacing-12);
  border-radius: var(--spacing-8);
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--background-tertiary);
  background-image: linear-gradient(45deg, var(--background-quaternary) 25%, transparent 25%, transparent 75%, var(--background-quaternary) 75%, var(--background-quaternary)),
                    linear-gradient(45deg, var(--background-quaternary) 25%, transparent 25%, transparent 75%, var(--background-quaternary) 75%, var(--background-quaternary));
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-preview {
  width: 75%;
  max-height: 100%;
  margin: 12px;
}

.generation-size {
  inline-size: 60px;
}

.generation-type {
  inline-size: 100%;
}

.sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  height: 100vh;
  justify-content: space-between;
}

section {
  padding-block-start: var(--spacing-12);
}

section button {
  inline-size: 100%;
}

.generate {
  padding-block-end: var(--spacing-12);
}

.generate button {
  margin-block-start: var(--spacing-12);
}

.extra-options {
  margin-block-start: auto;
  padding-block-end: 1px;
  display: flex;
  flex-direction: column;
}

.btn-note {
  margin-block-start: var(--spacing-8);
  text-align: center;
}